absl-py==0.7.1
adium-theme-ubuntu==0.3.4
astor==0.7.1
atomicwrites==1.2.1
attrs==18.2.0
backports.functools-lru-cache==1.6.1
backports.weakref==1.0.post1
certifi==2018.8.24
chardet==3.0.4
cycler==0.10.0
cymem==1.31.2
cytoolz==0.9.0.1
dill==0.2.8.2
en-core-web-sm==2.0.0
enum34==1.1.6
funcsigs==1.0.2
future==0.16.0
futures==3.2.0
gast==0.2.2
grpcio==1.20.1
h5py==2.8.0
idna==2.7
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
kiwisolver==1.1.0
Markdown==3.1
matplotlib==2.2.5
mock==3.0.5
more-itertools==4.3.0
msgpack==0.5.6
msgpack-numpy==0.4.3.1
murmurhash==0.28.0
nltk==3.3
numpy==1.15.1
pandas==0.24.2
pathlib==1.0.1
pathlib2==2.3.2
pkg-resources==0.0.0
plac==0.9.6
pluggy==0.7.1
preshed==1.0.1
protobuf==3.7.1
psutil==3.4.2
py==1.6.0
pygobject==3.20.0
pyparsing==2.4.7
pytest==3.8.0
python-dateutil==2.8.1
pytz==2020.4
pyxdg==0.25
regex==2017.4.5
requests==2.19.1
scandir==1.9.0
scikit-learn==0.19.2
scipy==1.1.0
seaborn==0.9.1
six==1.11.0
sklearn==0.0
spacy==2.0.12
subprocess32==3.5.4
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-estimator==1.13.0
termcolor==1.1.0
thinc==6.10.3
toolz==0.9.0
tqdm==4.26.0
ujson==1.35
unity-lens-photos==1.0
urllib3==1.23
Werkzeug==0.15.2
wrapt==1.10.11
